@font-face {
    font-family: 'Abstract font 2';
    src: url('../Fonts/Abstract\ font\ 2.woff2') format('woff2');
}
@font-face{
    font-family: 'Abstract web font Bold';
    src: url('../Fonts/Abstract\ web\ font\ Bold.woff2') format('woff2')
}
@font-face {
    font-family: 'fontawesome-webfont';
    src: url('../css/fontawesome-webfont') format('woff2');

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'fontawesome-webfont';
    
}

a{
    text-decoration: none;
    color: #fff;
    padding: 0;
    margin: 0;
}
p{
    margin: 0;
    padding: 0;
    
}
.header{

    display: flex;
    justify-content: space-between;
    background-color: black;
    width: auto;
    padding: 20px 90px;
    
    
}
.header .top-nav{

    
    color:#fff;
    font-family: 'Abstract web font Bold',sans-serif;
    font-size: 23px;
}
.logo{
    font-family: 'Abstract web font Bold',sans-serif;
   display: flex;
   text-align: center;
   align-items: center;
    color: #fff;
    font-size: 24px;
    
 
}

.header .logo img{
    background-color: aliceblue;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    
}

.logo #abs{

    
    margin: 0 10px;
    font-family: 'Abstract web font Bold',sans-serif;
    
}
.logo #line{
    height: 30px;
    border-left: 2px solid white;
}
.logo a{
    margin: 0 10px;
    font-family: 'Abstract font 2',sans-serif;
    font-weight: 500;
    
}
.logo #abs:hover, .logo img:hover{
    opacity: 0.7;
    transition: 0.30s;


}
.logo img:hover{
    cursor: pointer;
}
.logo #helpcenter:hover{
    text-decoration: underline;
}

.left-bar{
    display: flex;
    text-align: center;
    align-items: center;
   
}

.left-bar button{
    font-family: 'Abstract font 2';
    text-align: center;
    align-items: center;
    align-content: center;
}



.left-bar #submit-btn{
    background-color: #191a1b;
    color: #fff;
    line-height: 1.5;
    border: 1px solid white;
    font-size: 24px;
    margin-left: 1rem;
    padding: 6px 22px;
    border-radius: 10px;
    font-weight: 400;
}
.left-bar #sign-in{
    margin-left: 1rem;
    background-color: #4C5FD5;
    padding: 6px 32px;
    border: none;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
    font-weight: 400;
    line-height: 1.5;
}
.left-bar #sign-in:hover{
    background-color: #fff;
    color: black;
    cursor: pointer;
    transition: 0.50s;
}
.left-bar #submit-btn{
    cursor: pointer;
}