@font-face {
    font-family: 'GT America Bold';
    src: url('../Fonts/GT\ America\ Bold/GT America Bold.ttf') format('ttf');
}
@font-face{
    font-family: 'GT America Bold Italic';
    src: url('../Fonts/GT\ America\ Bold\ Italic/GT America Bold Italic.ttf') format('ttf')
}
@font-face {
    font-family: 'GT America Regular';
    src: url('../Fonts/GT\ America\ Regular/GT America Regular.ttf') format('woff2');

}
@font-face {
    font-family: 'Gt bold';
    src: url('../Fonts/Abstract\ web\ font\ Bold.woff2');
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GT America Regular';
    
}
h4{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #fff;
    padding: 0;
    margin: 0;
}
p{
    margin: 0;
    padding: 0;
    
}
h1{
    margin: 0;
    padding: 0;
}
.header{

    display: flex;
    justify-content: space-between;
    background-color: black;
    width: auto;
    padding: 20px 90px;
    
    
}
.header .top-nav{

    
    color:#fff;
    font-family: 'GT America Bold',serif;
    font-size: 23px;
}
.logo{
   
   display: flex;
   text-align: center;
   align-items: center;
    color: #fff;
    font-size: 24px;
    
 
}

.header .logo img{
    background-color: aliceblue;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    
}

.logo #abs{

    
    margin: 0 10px;
    font-family: 'GT America Regular',serif;
    font-weight: 600;
    
}
.logo #line{
    height: 30px;
    border-left: 2px solid white;
}
.logo a{
    margin: 0 10px;
    font-family: 'Abstract font 2',sans-serif;
    font-weight: 500;
    
}
.logo #abs:hover, .logo img:hover{
    opacity: 0.7;
    transition: 0.30s;


}
.logo img:hover{
    cursor: pointer;
}
.logo #helpcenter:hover{
    text-decoration: underline;
}

.left-bar{
    display: flex;
    text-align: center;
    align-items: center;
   
}

.left-bar button{
    font-family: 'GT America Regular';
    text-align: center;
    align-items: center;
    align-content: center;
}



.left-bar #submit-btn{
    background-color: #191a1b;
    color: #fff;
    line-height: 1.5;
    border: 1px solid white;
    font-size: 24px;
    margin-left: 1rem;
    padding: 6px 22px;
    border-radius: 10px;
    font-weight: 400;
}
.left-bar #sign-in{
    margin-left: 1rem;
    background-color: #4C5FD5;
    padding: 6px 32px;
    border: none;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
    font-weight: 400;
    line-height: 1.5;
}
.left-bar #sign-in:hover{
    background-color: #fff;
    color: black;
    cursor: pointer;
    transition: 0.50s;
}
.left-bar #submit-btn{
    cursor: pointer;
}

.how-help{
    font-family: 'GT America Regular',serif;
    background-color: #dadbf1;
    padding: 115px 80px;
    text-align: center;
    font-size: 80px;
    font-weight: 500;
}

.search-bar-main input[type="text"]{
    margin: 20px 0;
    width: 720px;
    height: 60px;
    padding: 16px;
    font-size: 20px;
    border: 1px solid #000;

    
}

.bx-right-arrow-alt{
   position: relative;
   right: 65px;
   top: 10px;
   
 
   
}
.search-bar-main:hover{
    
    color: #4C5FD5;
    transition: 0.30s;
}
.search-bar-main input[type="text"]:hover{
transition: 0.30s;
border-color: #4C5FD5;
}
    
.wrap-box{
    margin: 0;
    font-family: 'GT America Regular',serif;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    
    
   

}
.ind-wrap{
    font-family: 'GT America Regular';
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
   
    
}
.ind-txt{
    display: block;
    margin-right: 10px;
    width: 750px;
    height: 205px;
    overflow: hidden;
 
    
}
.ind-txt p{
    padding: 0;
    margin-top: 5px;
    font-family: 'Gt bold';
    font-size: 24px;
    margin-right: 10px;
}
.ind-txt-2 p{
    font-family: 'GT America Regular';
 
}
.ind-img img{
    width: 94px;
    height: 94px;
    margin-right: 20px;
}
.learn-more{
    margin: 20px 0;
}
.learn-more a{
    color: #4C5FD5;
    font-size: 20px;

}
.learn-more a:hover{
    text-decoration: underline;
    
}

.footer{
    margin: 0;
    width: 100%;
    /* height: 500px; */
    background-color: black;
    padding: 50px 100px;
    color: white;
   
}
.fblock1{
    display: flex;
}
.fbx1 {
   margin: 0 40px;
   display: block;
}

.fbx1 h3{
   
    font-family: 'GT bold';
    font-weight: 900;
    font-size: 24px;
}
.fsub1 {

    margin-top: 12px;
    font-weight: 600;
    
}
.fsub1 a{
    font-size: 18px;
    display: block;
    line-height: 1.5;
    
}
.fsub1 a:hover{
    text-decoration: underline;
}

.fblock2{
    font-size: 20px;
    justify-content: flex-end;
    display: flex;
   
}
.limg .fsub1{
    width: 400px;
    height: 80px;
}
.limg img{
    width: 40px;
    height: 40px;
    border-radius: 13px;
}
.myinfo h3{
    margin-bottom: 10px;
}
.myinfo p{
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

#aid{
color: red;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 60px;
margin-left: 60px;
}
.helpbtn{
    float: right;
}

