@font-face {
    font-family: 'GT America Bold';
    src: url('../Fonts/GT\ America\ Bold/GT America Bold.ttf') format('ttf');
}
@font-face{
    font-family: 'GT America Bold Italic';
    src: url('../Fonts/GT\ America\ Bold\ Italic/GT America Bold Italic.ttf') format('ttf')
}
@font-face {
    font-family: 'GT America Regular';
    src: url('../Fonts/GT\ America\ Regular/GT America Regular.ttf') format('woff2');

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GT America Regular';
    
}
h4{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #fff;
    padding: 0;
    margin: 0;
}
p{
    margin: 0;
    padding: 0;
    
}
h1{
    margin: 0;
    padding: 0;
}
.header{

    display: flex;
    justify-content: space-between;
    background-color: black;
    width: auto;
    padding: 20px 90px;
    
    
}
.header .top-nav{

    
    color:#fff;
    font-family: 'GT America Bold',serif;
    font-size: 23px;
}
.logo{
   
   display: flex;
   text-align: center;
   align-items: center;
    color: #fff;
    font-size: 24px;
    
 
}

.header .logo img{
    background-color: aliceblue;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    
}

.logo #abs{

    
    margin: 0 10px;
    font-family: 'GT America Regular',serif;
    font-weight: 600;
    
}
.logo #line{
    height: 30px;
    border-left: 2px solid white;
}
.logo a{
    margin: 0 10px;
    font-family: 'Abstract font 2',sans-serif;
    font-weight: 500;
    
}
.logo #abs:hover, .logo img:hover{
    opacity: 0.7;
    transition: 0.30s;


}
.logo img:hover{
    cursor: pointer;
}
.logo #helpcenter:hover{
    text-decoration: underline;
}

.left-bar{
    display: flex;
    text-align: center;
    align-items: center;
   
}

.left-bar button{
    font-family: 'GT America Regular';
    text-align: center;
    align-items: center;
    align-content: center;
}



.left-bar #submit-btn{
    background-color: #191a1b;
    color: #fff;
    line-height: 1.5;
    border: 1px solid white;
    font-size: 24px;
    margin-left: 1rem;
    padding: 6px 22px;
    border-radius: 10px;
    font-weight: 400;
}
.left-bar #sign-in{
    margin-left: 1rem;
    background-color: #4C5FD5;
    padding: 6px 32px;
    border: none;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
    font-weight: 400;
    line-height: 1.5;
}
.left-bar #sign-in:hover{
    background-color: #fff;
    color: black;
    cursor: pointer;
    transition: 0.50s;
}
.left-bar #submit-btn{
    cursor: pointer;
}

.how-help{
    font-family: 'GT America Regular',serif;
    background-color: #dadbf1;
    padding: 115px 80px;
    text-align: center;
    font-size: 80px;
    font-weight: 500;
}

.search-bar-main input[type="text"]{
    margin: 20px 0;
    width: 720px;
    height: 60px;
    padding: 16px;
    font-size: 20px;
    border: 1px solid #000;

    
}

.bx-right-arrow-alt{
   position: relative;
   right: 65px;
   top: 10px;
   
 
   
}
.search-bar-main:hover{
    
    color: #4C5FD5;
    transition: 0.30s;
}
.search-bar-main input[type="text"]:hover{
transition: 0.30s;
border-color: #4C5FD5;
}
    
.wrap-box{
    margin: 0;
    font-family: 'GT America Regular',serif;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    
    
   

}
.ind-wrap{
    font-family: 'GT America Regular';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 100px;
    

}
.ind-img img{
    width: 94px;
    height: 94px;
    margin-right: 20px;
}
.ind-txt h4{
   
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
}
 .ind-txt p{
    font-weight: 550;
 }